body {
    background-image: url('/src/images/fond.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
:root {
    --verde-oscuro: #1C4029;
    --verde-claro: #53A670;
    --beige: #D9D2B0;
}

/* Estilos básicos para la Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1C4029;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #53A670;
}

/* Estilos para submenús */
.submenu {
    display: none;
    padding-left: 20px;
}

.submenu.active {
    display: block;
}

.menu-button {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    text-align: left;
    width: 100%;
}