body {
    font-family: Arial, sans-serif;
    background-color: #d7e3b5; /* Color beige */
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
    background: #d7e3b5; /* Fondo igual al de la imagen */
    padding: 20px;
    border-radius: 8px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #0f3d0f; /* Color verde oscuro */
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0f3d0f; /* Verde oscuro */
    color: white;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

.editBtn {
    background-color: #ffc107; /* Amarillo */
    color: black;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.editBtn:hover {
    background-color: #e0a800;
}

#addBtn {
    background-color: #0f3d0f; /* Verde oscuro */
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#addBtn:hover {
    background-color: #0c2e0c;
}

.centered-button {
    text-align: center;
    margin-top: 20px;
}
